@charset "UTF-8";

html,body{
    background-color: darkcyan;
}
header{
    color: white;
}
section{
    background-color: whitesmoke;
    margin: auto;
    padding: 15px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.37);
    width: 50vw;
    font-size: 1.2em;
}
footer{
    text-align: center;
    color: white;
}